<h1> Hello </h1>
<form method="post" action="/update_player">
  <fieldset><legend>This is a form!</legend>
    <div class="form-field">
      <label for="player">Text input</label>
      <input type="text" name="player" id="text-input" placeholder="Some text" />
    </div>
  </fieldset>
</form>