<h1> The Lab Man!</h1>
<form method="post" action="/update_player">
  <fieldset><legend>Player Interaction</legend>
    <div class="form-field">
      <label for="player">Text input</label>
      <textarea cols="20" rows="5" name="player" id="text-input" placeholder="Some text"></textarea>
    </div>
  </fieldset>
  <input type="submit" value="Submit input" />
</form>